body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #ecf0f1;
  margin: 0;
}

.homePagebox {
  display: flex;
  flex-direction: row;
  gap: 20px; 
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.habitsCard, .todosCard {
  flex: 1; 
  max-width: 400px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%; 
}

.habitsCard h2, .todosCard h2 {
  text-align: center; 
  margin-bottom: 15px;
  color: #333;
}

.habitsCard ul, .todosCard ul {
  list-style: none; 
  padding: 0;
  margin: 0;
  width: 100%; 
}

.habitsCard ul li, .todosCard ul li {
  background-color: #f9f9f9;
  margin-bottom: 15px; 
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.habitsCard ul li p, .todosCard ul li p {
  margin: 5px 0; 
  color: #555; 
}

.habitsCard ul li:last-child, .todosCard ul li:last-child {
  margin-bottom: 0; 
}
